version: '3.8'

networks:
  network:

services:
  jupyter:
    build:
      context: .
      dockerfile: ./jupyter/Dockerfile
    container_name: stamus_jupyter
    image: stamus/jupyter:${TAG:-latest}
    restart: ${RESTART_MODE:-no}
    volumes:
      - ${PWD}/.env:/home/jovyan/.env:ro
      - ${PWD}:/home/jovyan/work:rw
    ports:
      - "${JUPYTER_PORT:-8888}:${JUPYTER_PORT:-8888}"
    networks:
      network:
    command: [
      "start-notebook.sh",
      "--NotebookApp.port=${JUPYTER_PORT:-8888}"
    ]
